<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="TrainingProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="TrainingKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="TrainingProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>WqoX0Dk5knqGr5Z2GCLQJnIW5tlcNGHGuMHFlxdFfULRA2J9UIwo0RvNEOOhkd3Tv5yLMmLgqdAwi/wHlV6ym0HkLgQAmU1kHonmPQ9z7IfrUZECIsEFXrTbiWzllM9asIVoombpJMbtCRS0Pfe+IaGxjOSo8Z7kVEEhBa96s2k=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>1k4vV98Rh+ECZKKXbgqZ0obanR51kfN83gH0GegXJ83TOWOt/ORPKNQspphSM+LlMa7cN9qQJ9F5IVrdfjKowPYWSbjgZ99+5KTO2phu3xRc1XbilrW/Bh6UbWH3HQc03ONhntk+PHj7p24epYI1wSEfWpL+628rbLxTow2T6/WxoSQx1FKE7BYbCzkDNFP8mPi+pVmQ8ovtothL9nSuID1HqVdsW9K31jfevUTOLZYLc/kNsmXzu4/Xw2HgA1Y99wDWqBr+gNStMDlZdVE8YwZ6WA2qnIh38KRjH4oS8a1fl9mfKxynp+jM84KXu1ak7wgDDD50tIW5LS5uUOizTkATAJejWTmaJKNzunJbiSPH2eXaM+OPCQJ3nCJIH8VIYAly0zWdCgaYz7vFIj1VpVjzVyojA7Zb/bWDqlxE92v2P3cOqYrktUL/gwslWXKoPhhE42o4NvjdKtd0BGToqZh2o5wfnbYEfzS5qlwd6WiY1T7fOefuKVaeAnxtbnGlx9VFsOYlm/ERCvMRi0vee16ZALs7XLOGaUmp6wmv48/OfMVai6ZEBcHMzVhtBrRvSYSi7z7K8AAksFI0snrnZ48ZPo3eya2wO2l/j6ENc7DlIfbRcRaoUWPkx6d2FloOtCg6W3b3f7KUah/sCXAtAw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>