<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CongoDBEntities" connectionString="metadata=res://*/CongoModel.csdl|res://*/CongoModel.ssdl|res://*/CongoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cdtgqwlp4y7y.us-east-1.rds.amazonaws.com;initial catalog=CongoDB;persist security info=True;user id=sqlroot;password=Pass1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>